{% extends "collocations/base/base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <button type="button" class="btn mb-2" data-toggle="modal" data-target="#new_collocation">
       New collocation
    </button>
  </div>
</div>

<!-- new_collocation -->
<div class="modal fade" id="new_collocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table bg-info table-bordered">
  <thead>
    <tr>
      <th scope="col" id="category">Category</th>
      <th scope="col" id="phrase">Phrase</th>
      <th scope="col" id="translation">Translation</th>
      <th scope="col" id="published">Published</th>
      <th scope="col" id="actions">Actions</th>
    </tr>
  </thead>
  {% for record in records %}
  <tbody>
  {% if record %}
    <tr class="bg-light text-dark">
      <td>{{record.category}}</td>
      <td>{{record.phrase}}</td>
      <td>{{record.translation}}</td>
      <td>{{record.publish}}</td>
      <td><a class="btn btn-secondary" href="#">edit</a></td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>


{% endblock %}